body {
    background-color: white;
    /* Set the background color to white */
    color: #000000;
    /* Set text color to black */
    padding: 20px;
    /* Add some padding for better readability */
}

.navbar {
    margin-bottom: 20px;
    /* Add margin-bottom to create space between the navbar and the header */
}

.event-header {
    font-family: 'Kanit', sans-serif;
    /* Set font family */
    text-align: left;
    /* Align text to left */
    font-size: 3em;
    /* Set font size to 3em */
    margin-top: 50px;
    /* Add some top margin for spacing */
    margin-bottom: 20px;
    color: black;
    /* Set color to black */
    font-weight: bold;
    /* Set font weight to bold */
    display: flex;
    /* Enable flexbox layout */
    justify-content: space-between;
    /* Space out the items evenly */
    align-items: center;
    /* Align items vertically */
}

/* Dropdown */

.dropdown {
    display: inline-block;
    margin-left: 10px;
}

.custom-dropdown-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 0.4em;
    background-color: #EEB120;
    /* Set background color to EEB120 */
    border-color: #EEB120;
    /* Set border color to match background color */
    color: black;
}

.custom-dropdown-button:hover {
    background-color: #d4a100;
    /* Change background color on hover */
    border-color: #d4a100;
    /* Change border color on hover */
}

.custom-dropdown-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(238, 177, 32, 0.5);
    /* Add focus style */
}

/* Add & edit event buttons */

.add-event-button {
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    font-size: 0.5em;
    background-color: black;
    /* Set background color to black */
    border-color: black;
    /* Set border color to black */
    color: #EEB120;
    /* Set text color to EEB120 */
    margin-left: auto;
    /* Align to the right */
    margin-right: 20px;
    /* Add some right margin for spacing */
}

.add-event-button:hover {
    background-color: #1a1a1a;
    /* Change background color on hover */
    border-color: #1a1a1a;
    /* Change border color on hover */
}

.add-event-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    /* Add focus style */
}

/* Modal Header */
.add-event-modal .modal-header,
.edit-event-modal .modal-header {
    background-color: #FDFDFD;
}

.add-event-modal .modal-title,
.add-event-modal .modal-body,
.edit-event-modal .modal-title,
.edit-event-modal .modal-body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

/* Switch Off Color */
.form-check-input {
    background-color: #8e8e8e;
}

/* Switch On Color */
.form-check-input:checked {
    background-color: #eeb120;
}

/* Switch On Color */
.form-check-input+.form-check-label::before {
    border-color: #eeb120;
}

/* Circle Inside Switch Color */
.form-check-input+.form-check-label::after {
    background-color: #f4f4f4;
    /* This ensures the circle color */
}

.add-event-modal .form-check-label .edit-event-modal .form-check-label {
    font-family: Inter, sans-serif;
    font-weight: 600;
}

/* Modal Body */
.add-event-modal .modal-body,
.edit-event-modal .modal-body {
    background-color: #F2F2F2;
}

/* CSS for adjusting modal body layout */
.add-event-modal .modal-body .row,
.edit-event-modal .modal-body .row {
    display: flex;
}

.add-event-modal .modal-body .col,
.edit-event-modal .modal-body .col {
    flex: 1;
    margin-right: 10px;
    /* Add margin between date and time inputs */
}

/* Modal footer */
.add-event-modal .modal-footer,
.edit-event-modal .modal-footer {
    background-color: #a2a2a2;
    font-family: DM Sans, sans-serif;
    font-weight: bold;
}

/* Cancel Button */
.add-event-modal .btn-cancel,
.edit-event-modal .btn-cancel {
    background-color: #e5e5e5;
    color: black;
}

/* Save Button */
.add-event-modal .btn-save,
.edit-event-modal .btn-save {
    background-color: black;
    color: white;
}

/* Events */

.event {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1205px;
    /* Set max-width to maintain responsiveness */
    height: auto;
    /* Change height to auto for responsiveness */
    margin: 0 auto;
    /* Center align by setting left and right margin to auto */
    margin-bottom: 20px;
    border: 1px solid #F4F4F4;
    background-color: #F4F4F4;
    cursor: pointer;
    padding: 20px;
    /* Add padding to create space between the event and its content */
}

.event img {
    width: 340px;
    /* Set width to 340px */
    height: auto;
    margin-right: 20px;
}

.event-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    /* Add padding to separate content from the border */
}

.event-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* Add margin between buttons and details */
}

.event-buttons button {
    margin-right: 10px;
    /* Add margin between buttons */
}

.event-buttons-left,
.event-buttons-right {
    display: flex;
    align-items: center;
}

.event-buttons-right {
    margin-left: auto;
    /* Push the right buttons to the right */
}

.black-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    /* Use medium font weight */
    color: white;
    background-color: black;
    border-color: black;
}

.black-button:hover {
    color: white;
    background-color: #333;
    /* Darker shade of black for hover */
    border-color: #333;
}

.black-button:focus {
    box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.5);
    /* Slightly larger shadow on focus */
}

.white-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    /* Use medium font weight */
    color: white;
    /* Set text color to white */
    background-color: #EEB120;
    /* Set background color to EEB120 */
    border-color: #EEB120;
    /* Set border color to match background color */
    display: flex;
    align-items: center;
}

.white-button:hover {
    color: white;
    /* Change text color on hover */
    background-color: #d4a100;
    /* Change background color on hover */
    border-color: #d4a100;
    /* Change border color on hover */
}

.white-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(238, 177, 32, 0.5);
    /* Add focus style */
}

.event-counter-box {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.event-button-text {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.top-text {
    font-size: 0.7em;
}

.bottom-text {
    font-size: 0.7em;
}

/* CSS for the line */
.line {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    /* Adjust margin as needed */
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

/* Delete Confirmation Modal */

/* Modal body text */
.delete-confirmation-modal .modal-body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    /* Center align the text */
}

/* Cancel button */
.delete-confirmation-modal .modal-footer .btn-secondary {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

/* Delete button */
.delete-confirmation-modal .modal-footer .btn-danger {
    background-color: black;
    border-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

/* Center align the buttons */
.delete-confirmation-modal .modal-footer {
    justify-content: center;
}

/* Jemaat mendaftar modal */

.jemaat-mendaftar-modal .modal-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* Medium */
}

.jemaat-mendaftar-modal .modal-body {
    padding: 10px;
    /* Add padding to the modal body */
    /* Top row */
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    /* Regular */
}

.jemaat-mendaftar-modal table {
    width: calc(100% - 20px);
    /* Set table width to 100% minus twice the padding (left and right) */
    border-collapse: collapse;
    /* Collapse table borders */
    margin: 10px;
    /* Add margin to the table */
}

.jemaat-mendaftar-modal table td {
    padding: 10px;
    /* Add padding to table cells */
}

.jemaat-mendaftar-modal .modal-counter-box {
    display: flex;
    justify-content: flex-end;
}

/* Text "Jumlah" */
.jemaat-mendaftar-modal .modal-counter-text {
    background-color: white;
    /* Set background color to white */
    color: black;
    /* Set text color to black */
    display: inline-block;
    /* Make the text inline-block */
    padding: 5px 10px;
    /* Add padding around the text */
}

/* Counter */
.jemaat-mendaftar-modal .modal-counter {
    background-color: #EEB120;
    /* Set background color to EEB120 */
    color: black;
    /* Set text color to black */
    display: inline-block;
    /* Make the counter inline-block */
    padding: 5px 10px;
    /* Add padding around the counter */
    font-size: 1.15em;
    /* Set the font size to 16px or any other desired value */
}

.jemaat-mendaftar-modal .top-row {
    background-color: black;
    color: white;
}

/* Names */

.jemaat-mendaftar-modal .odd-row,
.jemaat-mendaftar-modal .even-row {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    /* Regular */
}

.jemaat-mendaftar-modal .odd-row {
    background-color: white;
    color: black;
}

.jemaat-mendaftar-modal .even-row {
    background-color: #EFEFEF;
    color: black;
}

/* Event details */

.event-details {
    margin-right: 20px;
    /* Add margin to create space between the text and the side of the event */
}

.event-title {
    font-weight: bold;
    font-size: 2em;
    color: black;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10px;
    margin-right: 20px;
    /* Add right margin */
}

.event-date {
    font-weight: bold;
    font-size: 1.11em;
    color: #646464;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-right: 20px;
    /* Add right margin */
}

.event-description {
    font-size: 1.11em;
    color: #646464;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 1205px) {
    .event {
        flex-direction: column;
        /* Change flex direction to stack content vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .event img {
        margin-right: 0;
        /* Remove right margin for image */
        margin-bottom: 20px;
        /* Add bottom margin for image */
    }

    .event-details {
        margin-right: 0;
        /* Remove right margin for event details */
    }

    .daftar-button {
        position: static;
        /* Change position to static for button */
        margin-top: 20px;
        /* Add top margin for button */
        align-self: center;
        /* Center button horizontally */
    }
}

/* Adjust modal size for smaller screens */
@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        /* Adjust maximum width for smaller screens */
    }
}