    /* Base styles */
    body {
        background-color: #000;
    }
    
    /* Navbar styles */
    .navbar {
        background-color: #000 !important;
    }
    
    .navbar-brand {
        font-family: 'Libre Franklin', sans-serif;
        color: #f5f5f5 !important;
        display: flex;
        align-items: center;
    }
    
    .lora-font {
        font-family: 'Lora', serif;
    }
    
    .brand-text {
        display: inline-block;
        margin-left: 10px;
        color: #f5f5f5;
    }
    
    .brand-text span {
        color: inherit;
    }
    
    
    .navbar-nav .nav-link {
        color: #f5f5f5;
        display: inline-block;
        position: relative;
        font-family: 'Montserrat', sans-serif;
    }
    
    .navbar-nav .nav-link:not(.login-link-border):after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #EEB120;
        transition: all 0.3s ease;
        opacity: 0;
    }
    
    .navbar-nav .nav-link:not(.login-link-border):hover:after {
        opacity: 1;
    }
    
    .navbar-nav .nav-link:not(.login-link-border).active:after {
        opacity: 1;
    }
    
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:focus,
    .navbar-nav .nav-link:hover {
        color: #EEB120;
    }
    
    .navbar-nav .login-link a {
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 8px 20px;
        color: #fff;
    }
    
    .navbar-nav .login-link a:hover {
        background-color: #fff;
        color: #000;
        border-color: #000;
    }
    
    .navbar-toggler-icon {
        background-color: #000;
    }
    
    .navbar-toggler {
        border-color: #f5f5f5;
    }
    
    .login-link-border {
        border: 1px solid #fff;
        padding: 8px 20px;
    }
    
    .navbar-nav .nav-item {
        margin-right: 20px;
    }
    
    .navbar.fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    /* BUAT BAGIAN AWAL yang get connected blabla */

    .awal {
        display: flex;
        flex-direction: column;
    }
    .awal-2 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        z-index: 10;
        display: flex;
        min-height: 312px;
        width: 100%;
        align-items: center;
        color: #fff;
        justify-content: center;
        padding: 76px 60px;
    }

    @media (max-width: 991px) {
        .awal-2 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
        }
    }

    .img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .awal-3 {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        flex-direction: column;
    }

    @media (max-width: 991px) {
        .awal-3 {
        max-width: 100%;
        }
    }

    .awal-4 {
        letter-spacing: 6px;
        align-self: center;
        font: 800 28px 'Alegreya Sans', sans-serif;
    }
    .awal-5 {
        text-align: center;
        margin-top: 20px;
        font: 900 58px 'Roboto Serif', sans-serif;
    }

    @media (max-width: 991px) {
        .awal-5 {
        max-width: 100%;
        font-size: 40px;
        }
    }

    /* BUAT BUTTON DI GAMBAR */

    .button {
        background-color: #EEB120; 
        border: none;
        color: white;
        justify-content: center;
        align-self: center;
        z-index: 10;
        margin-top: -24px;
        letter-spacing: 1.6px;
        padding: 8px 14px;
        font: 550 15px/120% 'Montserrat', sans-serif;
        text-align: center;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .button1 {
        background-color: white; 
        color: black; 
    }
    
    .button1:hover {
        background-color: #EEB120;
        color: white;
    }

    #myForm {
        display: none;
    }

    .awalForm{
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: #E7E7E7;
        margin-top: -20px;
    }


    .form1{
        font: 22px 'Montserrat', sans-serif;
        margin-top: 1%;

    }

    .form2{
        font: 18px 'Montserrat', sans-serif;
        margin-top: 1%;
    }

    /* buat bagian form supaya responsive dan interactive */

    .awal-2-Form{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 5%;
        background-color: #fff;
        font-family :'Montserrat', sans-serif;

    }

    .main-user-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    .user-input-box:nth-child(2n){
        justify-content: end;
    }

    .user-input-box{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding-bottom: 15px;
    }

    .user-input-box label{
        width: 95%;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 600;
        margin: 5px 0;
    }

    .user-input-box input{
        height: 40px;
        width: 95%;
        border: 1px solid rgb(143, 143, 143);
        padding: 0 10px;
        border-bottom-width: 2px ;
    }

    .kegiatan-title{
        color:rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid white;
    }

    .kegiatan-category{
        margin: 15px 0;
        color: rgb(0, 0, 0);
    }

    .kegiatan-category label{
        padding: 0 20px 0 5px;
    }

    .kegiatan-category label,
    .kegiatan-category input,
    .form-submit-btn input{
        cursor: pointer;
    }

    .form-submit-btn{
        margin-top: 40px;
    }

    .form-submit-btn input{
        display: block;
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
        padding: 10px;
        border:none;
        color: rgb(0, 0, 0);
        background: #f0a800 ;
    }

    .form-submit-btn input:hover{
        background: #ffc517;
        color: rgb(255, 255, 255);
    }

    @media(max-width: 600px){
        .awal-2-Form{
            min-width: 280px;
        }

        .user-input-box{
            margin-bottom: 12px;
            width: 100%;
        }

        .user-input-box:nth-child(2n){
            justify-content: space-between;
        }

        .kegiatan-category{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .main-user-info{
            max-height: 380px;
            overflow: auto;
        }

        .main-user-info::-webkit-scrollbar{
            width: 0;
        }
    }



    /* Buat Bagian informasinya */
    .awal2-2 {
        align-self: center;
        width: 100%;
    }
    
    .awal2-3 {
        gap: 20px;
        display: flex;
        align-self: center;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 50%;
        margin-left: 18px;
    }
    
    .awal2-4 {
        display: flex;
        margin-top: 12px;
        flex-direction: column;
        color: #fff;
        font-weight: 500;
        line-height: 50px;
        padding: 0 20px;
    }
    
    .awal2-5 {
        font: 32px 'Montserrat', sans-serif;
    }
    
    .awal2-6 {
        margin-top: 49px;
        font: 22px 'Montserrat', sans-serif;
    }
    
    .awal2-6-2 {
        margin-top: 15px;
        padding: 10px;
        text-align: center;
        border: 2px solid #fff;
        font: 20px 'Montserrat', sans-serif;
    }
    
    .awal2-img {
        aspect-ratio: 1.06;
        object-fit: auto;
        object-position: center;
        width: 100%;
        z-index: 10;
        margin-top: 30px;
    }
    
    .awal2-7 {
        margin-top: -32px;
        z-index: 10;
        margin-left: -15px;
        font: 900 54px 'Roboto Serif', sans-serif;
    }
    
    .column-2 {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 46%;
        margin-left: -25px;
    }
    
    .awal2-8 {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    
    .awal2-img-2 {
        aspect-ratio: 1.01;
        object-fit: auto;
        object-position: center;
        width: 100%;
    }
    
    .awal2-img-3 {
        aspect-ratio: 1.03;
        object-fit: auto;
        object-position: center;
        width: 100%;
        margin-top: 22px;
    }
    
    /* For screens up to 620px */
    @media (max-width: 620px) {
        .awal2-2,
        .awal2-3,
        .column,
        .awal2-4,
        .awal2-5,
        .awal2-6,
        .awal2-6-2,
        .awal2-img,
        .awal2-7,
        .column-2,
        .awal2-8,
        .awal2-img-2,
        .awal2-img-3 {
            width: 100%;
            margin-left: 0;
        }
    
        .awal2-3 {
            flex-direction: column;
            align-items: stretch;
            gap: 0px;
        }
    
        .awal2-4 {
            max-width: 100%;
            margin-top: 25px;
        }
    
        .awal2-5 {
            max-width: 100%;
        }
    
        .awal2-6 .awal2-6-2 {
            max-width: 100%;
            margin-top: 40px;
        }
    
        .awal2-img,
        .awal2-img-2,
        .awal2-img-3 {
            max-width: 100%;
            margin-top: 40px;
        }
    
        .awal2-7 {
            max-width: 100%;
            font-size: 40px;
        }
    
        .awal2-8 {
            max-width: 100%;
            margin-top: 13px;
        }
    }


    
    .footer1 {
        border-radius: 40px 40px 0px 0px;
        background-color: #000;
        display: flex;
        margin-top: 81px;
        width: 100%;
        gap: 20px;
        justify-content: space-between;
        padding: 36px 52px;
    }
    @media (max-width: 991px) {
        .footer1 {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
        padding: 0 20px;
        }
    }
    .footer2 {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .img-4 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
    .img-5 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
    .img-6 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
    .footer3 {
        align-self: start;
        display: flex;
        gap: 20px;
        font-size: 32px;
        color: #fff;
        font-weight: 500;
        line-height: 141%;
    }
    .footer4 {
        font-family: 'Roboto', sans-serif;
        flex-grow: 1;
        font-size: 24px;
        flex-basis: auto;
        margin: auto 0;
    }
    .img-7 {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
